*{
	font-family:helvetica;
	color:white;
}
body{
	background-color:black;
}
#navBar{
	position: fixed;
	top: 0;
	width: 100%;
}
#namePlate h2{
	border:4px solid white;
	display:inline-block;
	position:absolute;
	left:2%;
	top:15px;
	padding:5px;
}
#navItems{
	display:inline-block;
	position:absolute;
	right:2%;
	width:50%;
	top:47px;
	text-align:right;
}
#navItems div{
	display:inline-block;
	margin-right:4%;
	font-weight:bold;
}
#navItems div:hover{
	color:#0072b1;
	cursor: pointer;
}
#mobileNav{
	display:none;
	background-image:url(../images/mobile/hamburger.png);
}
#mobileNavMenu{
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.5);
}
#innerMobileMenu {
    position: absolute;
    left: 40%;
    top: 30%;
	font-size:30px;
}
#innerMobileMenu div {
	line-height:60px;
}
#linkedNav{
	display:inline-block;
	background-image:url(../images/linkedin.png);
	background-repeat: no-repeat;
	background-size: cover;
	height:25px;
	width:25px;
}
#linkedNav:hover{
	background-image:url(../images/linkedin_hover.png);
}
#button-addon1 {
  color: #ffc371;
}

.mobileBtn{
	display:none;
}

i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

@media only screen and (max-width: 600px) {
	#navItems {
		display:none;
	}
	#mobileNav{
		display:inline-block;
		position:absolute;
		right:2%;
		top:10px;
		text-align:right;
		width:64px;
		height:64px;
	}
	.siteBtn{
		display:none;
	}
	.mobileBtn{
		display:inline-block;
	}
}